<br />
<p class="comment_name">
  <strong><%= comment.name %></strong>
</p>
<p class="comment_body">
  <%= comment.body %>
</p>
<p class="comment_title">
  <%= time_ago_in_words(comment.created_at) %> Ago
</p>
<% if user_signed_in? %>
<p>
  | <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>