<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <br />
    <p>
      <%= f.submit %>
    </p>
<% end %>