<h1>About us</h1>
<%= image_tag "vinny.png" %>
<p>
  Chocolate cake marzipan brownie powder pudding pie gummies. Gingerbread lollipop tootsie roll. Donut danish sugar plum oat cake chupa chups macaroon dragée pastry oat cake. Jelly beans chupa chups topping lemon drops. Powder gingerbread pastry powder sweet roll candy canes apple pie cotton candy. Lollipop biscuit jujubes wafer pastry jujubes jelly beans sweet. Pie muffin sweet roll cheesecake pudding marzipan. Bear claw gummi bears caramels ice cream cookie sweet dessert macaroon. Lollipop muffin fruitcake marzipan soufflé apple pie tootsie roll fruitcake. Soufflé jelly-o bear claw biscuit. Cotton candy bear claw lemon drops candy canes muffin carrot cake. Cheesecake pudding soufflé. Tootsie roll jelly chocolate bar fruitcake pastry toffee pastry sweet roll. Lemon drops cake tart brownie.
</p>