<h1>Tumblr Root</h1>
<% @posts.each do |post| %>
<h3><%= link_to post.title, post %></h3>
<p>
  <%= time_ago_in_words(post.created_at) %> ago
</p>
<p>
  <%= truncate(post.body, length:200) %>
</p>
<br />
<% end %>