<h1><%= @post.title %></h1>
<p>Submitted <%= time_ago_in_words(@post.created_at) %> ago
  <% if user_signed_in? %>
  | <%= link_to 'Edit', edit_post_path %>
  | <%= link_to 'Delete', post_path, method: :delete %></p>
  <% end %>
<br />
<p><%= @post.body %></p>
<div id="comments">
  <h2><%= @post.comments.count %> Comments</h2>
  <%= render @post.comments %>
  <br />
  <h3>Join Discussion: </h3>
  <%= render 'comments/form' %>
</div>