<!DOCTYPE html>
<html>
  <head>
    <title>TumblrApp</title>
    <%= csrf_meta_tags %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #page {
        width: 680px;
        margin: 0 auto;
      }
      nav > ul {
        display: block;
        padding-left: 0;
      }
      nav > ul > li {
        display: inline;
      }
    </style>
  </head>

  <body>
  <div id="page">
    <nav>
      <ul>
        <li><%= link_to "Tumblr", root_path %></li>
        <li><%= link_to "Posts", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if !user_signed_in? %>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
